@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.header {
    background-color: #333;
    color: white;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.content {
    flex: 1;
    overflow-y: scroll;
}

.tab,
.footer-item {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
}

.tab {
    background-color: #fff;
    color: #333;
}

.active {
    background-color: #f00;
    color: #fff;
}

.section {
    padding: 10px;
}

.section-items {
    display: flex;
    overflow-x: scroll;
}

.section-item {
    flex: 0 0 150px;
    height: 200px;
    margin-right: 10px;
    position: relative;
}

.section-item-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.section-item-title {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: white;
    font-size: 16px;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
}

.section-button {
    background-color: #f00;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.footer {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.footer-item {
    background-color: #333;
    color: #fff;
}


.footer-item.active {
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        flex-direction: row;
    }

    .header {
        font-size: 18px;
    }

    .content {
        flex: 1 0 50%;
    }

    .tabs {
        flex-direction: column;
    }

    .tab {
        font-size: 14px;
    }

    .section {
        padding: 5px;
    }

    .section-item {
        flex: 0 0 100px;
        height: 150px;
    }

    .section-item-title {
        font-size: 14px;
    }

    .section-button {
        font-size: 14px;
        margin-top: 5px;
    }

    .footer {
        flex-direction: column;
    }

    .footer-item {
        font-size: 14px;
    }
}