/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002b38;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

h1,
h2 {
    color: #ffffff;
}

p {
    line-height: 1.6;
}

/* Estilos do cabeçalho */
header {
    background-color: #0e001d;
    color: #fff;
    padding: 40px 20px;
}

header img {
    width: 100%;
    height: auto;
}

header a.call-to-action {
    display: inline-block;
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.carousel {
    position: relative;
    width: 100%;
    height: 300px;
}

.carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* mude de cover para contain */
    opacity: 0;
    /* inicialmente todas as imagens são invisíveis */
    transition: opacity 0.5s ease-in-out;
    /* transição suave entre as imagens */
}

.carousel-image.active {
    opacity: 1;
    /* a imagem ativa é visível */
}

/* Estilos da seção principal */
main section {
    margin-bottom: 20px;
}

main section#texto {
    background-color: #adc000;
    padding: 20px;
}

main section#depoimentos {
    background-color: #adc000;
    padding: 20px;
}

main section#depoimentos .depoimento {
    margin-bottom: 20px;
}

main section#contato {
    background-color: #adc000;
    padding: 20px;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Consultas de mídia para responsividade */
@media (max-width :600px) {

    header,
    main,
    footer {
        max-width: 100%;
        padding: 10px;
    }

    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .carousel-image {
        width: 100%;
    }
}


@media (min-width :600px) and (max-width :899px) {

    body {
        font-size: 16px;
    }
}

@media (min-width :900px) {

    body {
        font-size: 18px;
    }
}